<div class="flex gap-4 p-4">
    <button 
        s:on-click="onClick" 
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors"
    >
        Click me
    </button>

    <button 
        s:on-click="onClick1" 
        s:data-id="1"
        class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition-colors"
    >
        event attr 's:data-'
    </button>

    
    <button 
        s:on-click="onClick2" 
        data:name="william"
        class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition-colors"
    >
        event attr 'data:'
    </button>
</div>