<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% description %}">
  <title>{% title %} - 高端产品展示</title>
  <link rel="stylesheet" href="@assets/fonts.css">
  <link rel="stylesheet" href="@assets/style.css">

  <link href="@assets/css/light.css" type="text/css" rel="stylesheet" />
  <link href="@assets/css/dark.css" type="text/css" rel="stylesheet" />
  <link href="@assets/css/fonts.css" type="text/css" rel="stylesheet" />
  <!-- FAV LOGO -->
  <link href="@assets/css/tailwind.min.css" rel="stylesheet" />
  <link href="@assets/css/flowbite.min.css" rel="stylesheet" />


</head>
<body class="bg-gray-50">
 
  
  <main class="main-content">
    {{ __page }}
  </main>
  
  
  
  <!-- JAVASCRIPTS -->
  <script src="@assets/js/jquery.min.js"></script>
  <script src="@assets/js/jquery.qrcode.min.js"></script>
  <script src="@assets/js/flowbite.min.js"></script>
  <script src="@assets/js/datepicker.min.js"></script>
</body>

</html>